<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzq.dubboservice.mapper.ContentMapper">
    <delete id="deleteContent">
        delete from content where example_id=#{exampleId}
    </delete>
    <select id="getContent" resultType="com.lzq.api.pojo.Content">
        select css, css_out, js, js_out, html, html_head, css_style, js_style
        from content a left join example b
        on
            a.example_id=b.example_id
        where
            a.example_id=#{exampleId} and b.username=#{username}
    </select>
</mapper>