<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzq.dubboservice.mapper.ContentMapper">
    <delete id="deleteContent">
        delete from content where example_id=#{exampleId}
    </delete>
    <select id="getContent" resultType="com.lzq.api.pojo.Content">
        select a.example_id, code_content, css_style, js_style, html_style, b.example_name, b.label, c.name, b.ispublic
        from content a left join example b
        on
            a.example_id=b.example_id
        left join account c
        on
            b.username=c.username
        where
            a.example_id=#{exampleId} and b.username=#{username}
        <if test="ispublic=0">
            and b.ispublic=0
        </if>
    </select>
</mapper>