<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzq.dubboservice.mapper.ExampleAccountMapper">
    <sql id="Thebasic">
        a.example_id, example_name, ispublic, label, img, file_name, favorites, a.username
    </sql>

    <sql id="style">
        <if test="content.htmlStyle != null and content.htmlStyle != '' ">
            and html_style=#{content.htmlStyle}
        </if>
        <if test="content.cssStyle != null and content.cssStyle != '' ">
            and css_style=#{content.cssStyle}
        </if>
        <if test="content.jsStyle != null and content.jsStyle != '' ">
            and js_style=#{content.jsStyle}
        </if>
    </sql>

    <select id="queryExample" resultType="com.lzq.api.dto.ExampleAccount">
        select
        a.username,
        name,
        user_picture,
        description,
        b.example_id,
        example_name,
        label,
        img,
        b.favorites,
        b.create_time,
        b.update_time
        from account a left join example b
        on
            a.username=b.username
        left join content c
        on
            b.example_id=c.example_id
        where
              b.example_name like concat('%',#{queryContent},'%')
        <include refid="style"/>
        or
              b.label like concat('%',#{queryContent},'%')
        <include refid="style"/>
        or
              a.name like concat('%',#{queryContent},'%')
        <include refid="style"/>
        <if test="orderCondition == 0">
            order by b.create_time desc
        </if>
        <if test="orderCondition == 1">
            order by b.update_time desc
        </if>
        <if test="orderCondition == 2">
            order by b.favorites desc
        </if>
    </select>

    <select id="queryPersonFavorites" resultType="com.lzq.api.dto.ExampleAccount">
        select a.username,
               name,
               user_picture,
               description,
               a.example_id,
               example_name,
               label,
               img,
               a.favorites
        from example a
                 left join favorites b
                           on
                               a.example_id = b.example_id
                 left join account c
                           on
                               a.username = c.username
        where b.username = #{username}
        <if test="orderCondition == 0">
            order by b.create_time desc
        </if>
        <if test="orderCondition == 1">
            order by b.update_time desc
        </if>
        <if test="orderCondition == 2">
            order by b.favorites desc
        </if>
    </select>
</mapper>